# Игнорирование виртуального окружения
venv/
*.venv/
env/
*.env/

# Игнорирование файла с переменными окружения
.env

# Игнорирование кэшированных файлов Python
__pycache__/
*.py[cod]

# Логи
*.log

# Игнорирование директорий, созданных IDE (например, VSCode, PyCharm)
.vscode/
.idea/

# Игнорирование системных файлов (например, macOS)
.DS_Store

# Другие временные файлы
*.swp
*.swo
